*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'josefin' , sans-serif;
    height: 100vh;
    background: radial-gradient(#ffa0bf , #8483ff);
}
.vidio{
    text-align: center;
    justify-content: center;
}